body
{
    height:100vh;
    width: 100vw;
    margin: 0px;
    padding:0px;
}
.main
{
    height:100%;
    width: 100%;
    padding: 0px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image
{
    height:100%;
}
button
{
    position:absolute;
    bottom:30%;
    right:35%;
    left:35%;
    padding: 5px 3px;
    color: white;
    background-color: black;
}
@media (max-width: 800px)
{
    .image
    {
        width:100%;
        height: auto;
    }
    .main
    {
        flex-direction: column;
        overflow: hidden;
    }
    :no-button
    {
        right:23%;
        left:23%;
    }
}