.material-symbols-outlined 
{
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 900 ;
  position: absolute;
  top: 4px;
  right: 7px;
  color: rgb(98, 15, 102);
}
body
{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right ,rgb(108, 15, 136), rgb(182, 3, 137));
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lamp
{
    margin-top: 50px;
    height: 150px;
}
#main
{
    background-color: rgb(187, 85, 190);
    border-radius: 20px;
    width: 100vw;
    max-width: 550px;
    height: 350px;
    box-shadow: rgb(97, 6, 74) 0 0 40px;
    border-top: 3px solid rgb(240, 204, 231);
    border-left: 3px solid rgb(240, 204, 231);
    position: relative;
    overflow: hidden;
}
#listen
{
    font-size: 40px;
}
#listen:hover
{
    color: rgb(233, 148, 236); 
    cursor: pointer;
}
#quote-space
{
    width: 100%;
    height: 92%;
    margin-top: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.quote
{
    color: white;
    width: 90%;
    font-size: 21px;
    word-wrap: break-word;
    text-align: center;
    z-index: 1;
}
#author
{
    font-style: italic;
    color: rgb(242, 196, 245);
    line-height: 10px;
}
#next
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 49.8%;
    height:45px;
    background-color: rgb(207, 107, 211);
    box-shadow: rgb(163, 69, 167) 0 0 40px;
    border: none;
    text-align: center;
    font-size: 17px;
    font-weight: 550;
    color: rgb(91, 11, 95);
}
#copy
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 49.8%;
    height:45px;
    background-color: rgb(207, 107, 211);
    box-shadow: rgb(163, 69, 167) 0 0 40px;
    border: none;
    text-align: center;
    font-size: 17px;
    font-weight: 550;
    color: rgb(91, 11, 95);
}
#next:hover , #copy:hover
{
    background-color: rgb(233, 148, 236);
    cursor: pointer;
}
@media (max-width: 400px)
{
    .quote
    {
        font-size: 16px;
    }
}